<div{{ attributes }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}

  {% embed "@components/00-common/tabs/tabs.twig" %}
    {% block content %}
      {% if content %}
        <nav class="tabs" role="navigation" aria-label="{{ 'Tabs'|t }}">
          {{ content }}
        </nav>
      {% endif %}
    {% endblock %}
  {% endembed %}
</div>
