{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  {% include "@components/00-common/breadcrumb/breadcrumb.twig" %}
{% endif %}
